.the-header {
  align-items: center;
  background: #252422;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Optional: Add a box shadow
  display: flex;
  height: var(--header-height);
  justify-content: center;
  // padding: 10px 0;
  transition: var(--transition);
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 100;

  a {
    position: relative;
    width: 45px;

    &:hover {
      &:before {
        transform: scale(1);
      }
      img {
        transform: scale(0.8);
      }
    }

    &:before {
      background: var(--color--main-1);
      border-radius: 40%;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      position: absolute;
      transform: scale(0);
      transition: var(--transition);
      width: 100%;
    }
    img {
      transition: var(--transition);
    }
  }
}
